


.HeaderMain {

    border: 1px solid #eaf0f6;
    box-shadow: 0 2px 4px rgba(45,62,80,0.12);
    color: #33475b;
}

.headerNavContainer {
    display: flex;
    flex-direction: row-reverse;
}



/* desktop menu css */

.desktopNav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.desktopNav li {
    padding: 12px;
    visibility: visible;
}


/* mobile menu css */



.MenuMobile {
    display: none;
}

.mobileNav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    
}


.mobileNav li {
    padding: 6px;
    
}





.menuIcon {
    text-align: right;
    padding: 5px;
    font-size: large;
}



@media (max-width: 320px) {
    .MenuMobile {
        display: block;
    }

    .MenuDesktop {
        display: none;
    }
  }